// Base
// ----------------------------------------

body {
  font-family: $font-family;
  height: 100%;
  background-color: $body-bg-color;
}

#dashboard {
  width: 100%;
  overflow: hidden;
}

.main-container {
  position: relative;
  min-height: $content-min-height;
  margin: 0 0 0 $navbar-side-width;
  padding: 0 15px;
  background-color: $content-bg-color;
}

.wrapper-content {
  padding: 20px 10px 0;
}

.full-row {
  margin-left: -25px;
  margin-right: -25px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
  @include clearfix();
}

.block-heading {
  margin-bottom: 15px;
  border-bottom: $block-heading-border-width solid $block-heading-border-color;
  font-size: $block-heading-font-size;
  @include clearfix();

  h2, h3 {
    position: relative;
    margin: 0;
    padding: 10px 5px;
    float: left;
    font-size: $block-heading-font-size;
    line-height: 1.2;

    &:after {
      position: absolute;
      content: "";
      bottom: -$block-heading-border-width;
      left: 0;
      right: 0;
      height: $block-heading-border-width;
      background-color: $success-color;
    }
  }

  .heading-tool {
    padding-top: 10px;
    text-align: right;

    .btn {
      font-size: 14px;
    }
  }
}