// Overrided Label

.label {
  padding: 3px 8px 4px;
  font-size: 12px;
  font-weight: 600;
}

.label-default {
  @include label-variant($label-default-bg);
}

.label-success {
  @include label-variant($label-success-bg);
}

.label-warning {
  @include label-variant($label-warning-bg);
}

.label-danger {
  @include label-variant($label-danger-bg);
}