// Label
// ----------------------------------------

.label {
  padding: 3px 8px 4px;
  font-size: 12px;
  font-weight: 600;
}

.label-success {
  background-color: $color-success;
}

.label-warning {
  background-color: $color-warning;
}