// Panel

.panel {
  border-radius: 0;
  border: none;
  color: $panel-color;
}

.panel-title {
  @extend .clearfix;
  padding: $panel-title-padding;
  border-top: 3px solid $panel-border;

  > h5 {
    margin-top: 0;
    margin-bottom: 5px;
    float: left;
    font-size: $panel-title-font-size;
  }
}

.panel-tools {
  position: relative;
  text-align: right;
  line-height: 0;

  > a {
    font-size: $panel-title-font-size - 2;

    &,
    &:hover,
    &:active {
      color: $panel-tool-color;  
    }

    + a {
      margin-left: 5px;
    }
  }
}

.panel-heading,
.panel-body {
  border-top: 1px solid $panel-border;
  background-color: #fff;

  > h3,
  > h4,
  > h5,
  > p {
    margin-top: 0;
    margin-bottom: 5px;
  }
}

.panel-heading {
  border-radius: 0;
  background-color: $panel-heading-bg;
}