// Table

.table {
  > thead > tr > th,
  > tbody > tr > td {
    padding: $table-cell-padding;
    text-align: center;
  }

  > thead > tr > th {
    vertical-align: middle;
    background-color: $table-head-bg;
  }

  > tbody > tr {
    > td {
      background-color: $table-body-bg;
    }

    &.active,
    &.active:hover {
      > td {
        color: #fff;
        background-color: $table-active-bg;
        border-color: darken($success-color, 5%);
      }
    }
  }
}

.table-bordered {
  border-color: $table-border;

  > thead > tr > th,
  > thead > tr > td,
  > tbody > tr > th,
  > tbody > tr > td,
  > tfoot > tr > th,
  > tfoot > tr > td {
    border-left: none;
    border-right: none;
    border-color: $table-border;  
  }

  > thead > tr > th,
  > thead > tr > td {
    border-bottom-width: 2px;
  }

}

.table-striped {
  > tbody > tr:nth-of-type(odd) {
    background-color: $table-accent-bg;

    > th,
    > td {
      background-color: transparent;
    }
  }
}

.table-condensed {
  > thead > tr > th,
  > thead > tr > td,
  > tbody > tr > th,
  > tbody > tr > td,
  > tfoot > tr > th,
  > tfoot > tr > td {
    padding: $table-cell-padding / 2;
  }
}

.table-hover {
  > tbody > tr:hover {
    background-color: $table-accent-bg;

    > th,
    > td {
      background-color: transparent;
    }
  }
}