// Typography

$font-family:     -app-system, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;

// Color

$body-bg:         #2f4050;

$gray-base:       #000 !default;
$gray-darker:     lighten($gray-base, 13.5%) !default; // #222
$gray-dark:       lighten($gray-base, 20%) !default;   // #333
$gray:            lighten($gray-base, 33.5%) !default; // #555
$gray-light:      lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:    lighten($gray-base, 93.5%) !default; // #eee

$default-color:   #b0bec5;
$success-color:   #19aa8d;
$warning-color:   #f8ac59;
$danger-color:    #d9534f;

// Layout

$content-bg: #f7f7f8;

$block-heading-font-size: 16px;
$block-heading-border-width: 2px;
$block-heading-border: #ddd;
$block-heading-bg: $success-color;

// Navbar

$navbar-side-width: 220px;

$nav-header-link-color: #def4ed;
$nav-header-light-color: #8095a8;

$nav-header-bg-image: "../images/header-profile.png";
$nav-header-image-size: 48px;

$nav-color: #a7b1c2;
$nav-active-bg: #293846;

$navbar-top-height: 60px;
$navbar-top-brand-width: 200px;
$navbar-top-bg: #fff;
$navbar-top-border: #efefef;

// Label

$label-default-bg: $default-color;
$label-success-bg: $success-color;
$label-warning-bg: $warning-color;
$label-danger-bg: $danger-color;

// Button

$btn-border-radius: 2px;
$btn-default-padding: 5px 15px;

$btn-default-color: #fff;
$btn-default-bg: $default-color;
$btn-default-border: $default-color;
$btn-success-color: #fff;
$btn-success-bg: $success-color;
$btn-success-border: $success-color;
$btn-danger-color: #fff;
$btn-danger-bg: $danger-color;
$btn-danger-border: $danger-color;

// Table

$table-border: #e0e7eb;
$table-head-bg: #e7eaec;
$table-body-bg: #fff;
$table-active-bg: $success-color;
$table-accent-bg: #f3f6fb;
$table-cell-padding: 10px;

// Panel

$panel-border: $table-border;
$panel-color: #676a6c;
$panel-title-padding: 12px 15px 11px;
$panel-title-font-size: 14px;
$panel-tool-color: #c4c4c4;
$panel-heading-bg: $table-accent-bg;

// Form

$input-border-radius: 2px;
$input-height: 34px;
$input-border: #9e9e9e;
$input-color: #9e9e9e;
$form-control-hover-border: lighten($success-color, 5%);
$form-control-success-color: $success-color;
$form-control-success-border: $form-control-hover-border;
$form-control-danger-color: $danger-color;
$form-control-danger-border: lighten($danger-color, 5%);

// Modal

$modal-border-radius: 2px;

$modal-header-color: #fff;
$modal-header-bg: $success-color;
$modal-header-font-size: 16px;

$modal-body-padding: 25px;

$modal-footer-bg: #e7eaec;
$modal-btn-width: 120px;

// Select 2

$select2-height: 34px;
$select2-color: #555;
$select2-border: #ccc;
$select2-focus-border: $form-control-hover-border;
$select2-border-radius: $input-border-radius;
$select2-arrow-bg: #999;
$select2-arrow-size: 4px;
$select2-option-highlight-bg: $success-color;
$select2-option-selected-bg: #f5f5f5;

